    <script src="{{ site.url }}/assets/js/public/jquery-1.11.1.min.js"></script>

    <script src="{{ site.url }}/assets/js/vendor/fastclick.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/foundation.min.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/background-check.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/post-header-animations.js"></script>

    <script src="{{ site.url }}/assets/js/scripts.min.js"></script>
    <script src="{{ site.url }}/assets/js/notepad.js"></script>
