/* MOBILE MENU */
@media (max-width: 40.063em) {
  .notepad-blog-menu ul {
  	background-color: #5F0087; }
  .notepad-blog-menu ul.opened {
  	 z-index: 99; } }

@media (min-width: 40.063em) {
  .notepad-blog-menu ul li a:hover {
    border-bottom: 0.1875rem solid #7B9F35; } }

/* HOME TEMPLATE */
	/* HEAD CONTENT */
	.notepad-site-head .notepad-site-head-content {
	  width: 100%;
	  color: #5F0087;
	  background-color: #5F0087;
	  background-size: cover;
	  background-image: url("/images/banner_networking.jpg");
	  background-position: right center; }

	  .notepad-site-head .notepad-site-head-content-text {
	  	text-align: center;
		  padding: 1.5rem 1rem;
		  background-color: rgba(0,0,0, 0.5); }
	  @media only screen and (min-width: 40.063em) {
		  .notepad-site-head .notepad-site-head-content-text {
		  	text-align: left;
		  	padding: 1.5rem 3rem;
			  background-color: transparent; } }

		  .notepad-site-head .notepad-site-head-content .notepad-site-head-title-bg {
		    display: inline-block;
		    padding: 0rem;
		    background-color: transparent;
		    line-height: 1.1; }
		  .notepad-site-head .notepad-site-head-content h1, .notepad-site-head .notepad-site-head-content h2 {
		    margin: 0;
		    padding: 0;
		    color: white;
		    text-transform: uppercase; }
		  .notepad-site-head .notepad-site-head-content h1 {
		    font-size: 2.5rem;
		    padding-bottom: 0rem;
		    font-weight: 700;
		    line-height: 1.3; }
		  .notepad-site-head .notepad-site-head-content h2 {
		    padding-top: 0rem;
		    font-size: 0.875rem;
		    margin-bottom: 0.9375rem;  }
		  @media only screen and (min-width: 40.063em) {
		    .notepad-site-head .notepad-site-head-content h1 {
		    	color: #5F0087;
		      font-size: 3.75rem;
		      padding-bottom: 0rem;
		      font-weight: 700; }
		    .notepad-site-head .notepad-site-head-content h2 {
		    	color: #5F0087;
		      padding-top: 0rem;
		      font-size: 1rem; } }
		  @media only screen and (min-width: 70em) {
		    .notepad-site-head .notepad-site-head-content h1 {
		      font-size: 4.375rem;
		      padding-bottom: 0rem;
		      font-weight: 700; }
		    .notepad-site-head .notepad-site-head-content h2 {
		      padding-top: 0rem;
		      font-size: 1rem; } }
		  @media only screen and (min-width: 90em) {
		    .notepad-site-head .notepad-site-head-content h1 {
		      font-size: 5rem;
		      padding-bottom: 0rem; }
		    .notepad-site-head .notepad-site-head-content h2 {
		      padding-top: 0rem; } }
		  @media only screen and (min-width: 100em) {
		    .notepad-site-head .notepad-site-head-content h1 {
		      font-size: 6.25rem;
		      padding-bottom: 0rem; }
		    .notepad-site-head .notepad-site-head-content h2 {
		      padding-top: 0rem; } }

		/* DAY */
		.notepad-content .notepad-index-post .notepad-post-meta .day {
		  color: #7B9F35; }

/* POST TEMPLATE */
.post-template .notepad-post-header .notepad-post-menu-header {
  background-color: #5F0087; }

  .post-template .notepad-post-content > div:not(.notepad-post-title) p.with-image.small-image {
    max-width: 40rem; }

/* PAGE TEMPLATE */
.notepad-page-container .notepad-page-menu-header {
  background-color: #5F0087; }

  /* Page titles */
  .notepad-page-container .notepad-page-title h1 {
  	font-weight: 300;
  	color: #A179AB;
    padding-top: 3rem;
    padding-bottom: 2rem; }
    @media only screen and (min-width: 40.063em) {
      .notepad-page-container .notepad-page-title h1 {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    @media only screen and (min-width: 70em) {
      .notepad-page-container .notepad-page-title h1 {
        padding-top: 3rem;
        padding-bottom: 3rem; } }
    @media only screen and (min-width: 90em) {
      .notepad-page-container .notepad-page-title h1 {
        padding-top: 5rem;
        padding-bottom: 3rem; } }

  .notepad-page-content > div:not(.notepad-page-title) h1, .notepad-page-content > div:not(.notepad-page-title) h2, .notepad-page-content > div:not(.notepad-page-title) h3, .notepad-page-content > div:not(.notepad-page-title) h4, .notepad-page-content > div:not(.notepad-page-title) h5, .notepad-page-content > div:not(.notepad-page-title) h6 {
    font-weight: 200; 
    color: #896A92; }

/* MOBILE - POST AND PAGE TEMPLATE */
@media only screen and (max-width: 40.063em) {
	.post-template > .row, .page-template > .row {
	  margin-left: 0; } }

/* LINKS */
.notepad-content .notepad-index-post .notepad-index-post-tags a:hover {
  color: #7B9F35;
  border: 0.0625rem solid #7B9F35; }

nav.pagination .older-posts:hover {
  border: 0.125rem solid #7B9F35;
  color: #7B9F35; }

.notepad-tags-container .notepad-tags-header .tag-name {
  color: #7B9F35;
  text-transform: none; }

.post-template .notepad-post-title a:hover {
  color: #7B9F35; }

.post-template .notepad-post-content > div:not(.notepad-post-title) a, .post-template .notepad-post-content > div:not(.notepad-post-title) code {
  color: #7B9F35; }

.notepad-post-share {
  color: #7B9F35; }
.notepad-post-share a {
  color: #7B9F35; }

.notepad-author-info .notepad-post-author > p a {
  color: #7B9F35; }

.notepad-page-container .notepad-page-title a:hover {
  color: #7B9F35; }

.notepad-page-container .notepad-page-content > div:not(.notepad-page-title) a, .notepad-page-container .notepad-page-content > div:not(.notepad-page-title) code {
  color: #7B9F35; }

.post-template .notepad-blog-menu ul li a:hover{
  border-bottom: 0.1875rem solid #91D410; }
  

/* SELECTION */
::selection {
  background: #7B9F35;
  color: #fff; }

::-moz-selection {
  background: #7B9F35;
  color: #fff; }